<div id="mask" class="mask" onclick="CloseMask()"></div> 
<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
<!--                <a href="/" title="宽屏大气文章类&#45;&#45;41天鹰模板">宽屏大气文章类&#45;&#45;41天鹰模板</a>-->
               <img src="__INDEX__/images/aa.png">
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">

<ul id="jsddm">
<li><a class="navi_home" href="/">首页</a></li>
<li><a class="navi_home" target="_blank" href="#">Family</a></li>
<li><a href="/lookbike/">点滴生活</a>
<ul>

<li><a href="/lookbike/fixed-gear/">走过的路</a></li>

<li><a href="/lookbike/vintagebicycle/">去过的地方</a></li>

<li><a href="/lookbike/roadbicycle/">遇到的人</a></li>

<li><a href="/lookbike/mountainbike/">值得纪念的小店</a></li>

<li><a href="/lookbike/small/">想要去的地方</a></li>

<li><a href="/lookbike/bmx/">小作品</a></li>

<li><a href="/lookbike/otherbike/">开心时刻</a></li>


</ul>

 </li2><li><a href="/gear/">特殊日子</a>
<ul>

<li><a href="/gear/accessories/">纪念日</a></li>

<li><a href="/gear/rs/">生日</a></li>


</ul>

 </li2><li><a href="/life/">生活经历</a>





 </li2><li><a href="/news/">其他</a>





 </li2>

</ul>

            <div style="clear: both;">
            </div>

            
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
      <form  name="formsearch" action="/plus/search.php"><input type="hidden" name="kwtype" value="0" />                
<input name="q" type="text" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
        </form>
                        </div>

                <div style="float: left;">
                    <img src="__INDEX__/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px; width:36px; height:29px " onclick="subForm()"  />
                </div>

                <div style="clear: both;">
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>